@use "../../styles/variables.scss" as variables;

.circledNumber {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  border: 2px solid variables.$font-color;
  border-radius: 50%;
  font-size: 1em;
  margin-right: 0.5em;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
