@use "../../../styles/variables.scss" as variables;

.spacer {
  -webkit-app-region: drag;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  z-index: 1000;
}

.button {
  color: black;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 10px;
  position: relative;

  svg {
    width: 12px;
    height: 12px;
    margin: 4px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover {
    svg {
      color: black;
    }
  }
}

.buttonCopied {
  background-color: green;
  color: white;
}

.info {
  -webkit-app-region: no-drag;
  background-color: white;
  color: black;
  position: fixed;
  z-index: 1000;
  height: 16px;
  min-width: 16px;
  border: none;
  border-radius: 10px;
  top: 7px;

  svg {
    width: 10px;
    height: 10px;
    margin: 3px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover {
    svg {
      color: black;
    }
  }
}

.infoMac {
  right: 10px;
}

.infoWin {
  left: 10px;
}

.version {
  color: variables.$font-color-h;
  font-size: 10px;
  font-family: monospace;
  position: fixed;
  z-index: 1000;
  height: 30px;
  top: 0px;
  display: flex;
  align-items: center;
}

.versionMac {
  right: 30px;
}

.versionMacUpdate {
  right: 118px;
}

.versionWin {
  left: 30px;
}

.versionWinUpdate {
  left: 118px;
}

.buttonContent {
  font-size: 10px;
  margin-left: 8px;
  line-height: 15px;
}

.buttonWrapper {
  background-color: black;
  position: fixed;
  left: 0;
  top: 160px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  gap: 8px;
  padding: 12px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.refreshSpin {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.enabled {
  background-color: variables.$font-color;
}

.disabled {
  background-color: variables.$font-color-h;
  cursor: default !important;
}

.tippy {
  padding: 0px;
  font-size: 12px !important;
}

@keyframes fadeInScale {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeOutScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    opacity: 0;
  }
}

.sharePopup {
  z-index: 1001;
  background-color: black;
  position: absolute;
  width: fit-content;
  white-space: nowrap;
  left: 42px;
  top: -25px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
  transition: visibility 0.2s, opacity 0.2s, transform 0.2s;
}

.sharePopup.show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  animation: fadeInScale 0.2s ease forwards;
}

.sharePopup.hide {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
  animation: fadeOutScale 0.2s ease forwards;
}

.sharePopup::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  border-width: 10px 10px 10px 0;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.sharePopupBtn {
  cursor: pointer;
  padding: 10px;
  background-color: black;
  border: none !important;
  width: 200px;
  text-align: left;

  &:hover {
    background-color: variables.$dark-grey;
  }
}

.updateModalHeader {
  background-color: variables.$bg-color-2;
  color: variables.$font-color;
  border: 1px solid variables.$lighter-grey !important;
  border-radius: 0;
}

.updateModalContent {
  background-color: variables.$bg-color-2;
  color: variables.$font-color;
  border-top: 0;
  border-bottom: 1px solid variables.$lighter-grey !important;
  border-left: 1px solid variables.$lighter-grey !important;
  border-right: 1px solid variables.$lighter-grey !important;
  border-radius: 0;
}
