name: Build Windows

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
      version:
        required: true
        type: string

jobs:
  build-windows:
    name: ${{ inputs.env }} - v${{ inputs.version }} | BUILD
    runs-on: macos-latest

    steps:
      - name: Check out
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref_name }}

      - name: Get version from package.json
        id: get_version
        run: echo "version=$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT

      - name: Verify input version matches package.json version
        run: |
          echo "Input version: ${{ inputs.version }}"
          echo "Package.json version: ${{ steps.get_version.outputs.version }}"
          if [ "${{ inputs.version }}" != "${{ steps.get_version.outputs.version }}" ]; then
            echo "âŒ Version mismatch!"
            exit 1
          fi

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Python 3.11 with distutils
        run: |
          brew install python@3.11
          echo "PATH=/opt/homebrew/opt/python@3.11/bin:$PATH" >> $GITHUB_ENV

      - name: Set Python 3.11 as default
        run: echo "PYTHON=/opt/homebrew/opt/python@3.11/bin/python3.11" >> $GITHUB_ENV

      - name: Install dependencies
        run: npm ci

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Build for Windows
        run: |
          if [ "${{ inputs.env }}" = "Staging" ]; then
            npm run dist-win-staging-upload
          else
            npm run dist-win-production-upload
          fi

  sign-windows:
    name: ${{ inputs.env }} - v${{ inputs.version }} | SIGN
    needs: build-windows
    runs-on: windows-latest

    steps:
      - name: Check out
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref_name }}

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install signing dependencies
        working-directory: ./sign-win
        run: npm ci

      - name: Set up environment variables
        run: |
          echo "AZURE_KEY_VAULT_URL=${{ secrets.AZURE_KEY_VAULT_URL }}" >> $env:GITHUB_ENV
          echo "AZURE_CLIENT_ID=${{ secrets.AZURE_CLIENT_ID }}" >> $env:GITHUB_ENV
          echo "AZURE_CLIENT_SECRET=${{ secrets.AZURE_CLIENT_SECRET }}" >> $env:GITHUB_ENV
          echo "AZURE_TENANT_ID=${{ secrets.AZURE_TENANT_ID }}" >> $env:GITHUB_ENV
          echo "CERT_NAME=${{ secrets.CERT_NAME }}" >> $env:GITHUB_ENV

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Sign executables & upload to S3
        working-directory: ./sign-win
        shell: pwsh
        run: |
          if ("${{ inputs.env }}" -eq "Staging") {
            npm run sign-publish-staging-win
          } else {
            npm run sign-publish-production-win
          }
